#index_banner {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.65)), url(https://images.unsplash.com/photo-1505686994434-e3cc5abf1330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80);
}
.jumbotron {
    color: white;
    object-fit: contain;
}